VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here

VITE_CLOUDINARY_API_KEY="your-api-key-here"
VITE_CLOUDINARY_API_SECRET="your-api-secret-here"
VITE_CLOUDINARY_CLOUD_NAME="your-cloud-name-here"
VITE_CLOUDINARY_UPLOAD_PRESET="your-upload-preset-here"